/* GLOBAL */
@import '../global/global.scss';

/* NAVBAR */
@import '../mainpage/navbar.scss';

/* FOOTER */
@import '../mainpage/footer.scss';

/* IFO WEBPAGE */
#ifo {
    header {
        width: 100%;
        .main-header-wrapper {
            width: 100%;

            nav.select-section {
                display: flex;
                height: fit-content;
                padding-top: 1rem;
                justify-content: center;
                align-items: flex-end;
                border: none;
                gap: 1.5rem;
                background-color: var(--colors-backgroundAlt2);

                button {
                    border: none;
                    background-color: transparent;
                    font-size: 1rem;
                    padding-bottom: 0.5rem;
                    color: var(--colors-textSubtle);
                    cursor: pointer;

                    &.selected {
                        position: relative;
                        font-weight: 600;
                        color: var(--colors-secondary);

                        &::after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            content: "";
                            background-color: var(--colors-primary);
                            width: 100%;
                            height: 4px;
                        }
                    }
                }
            }

            .info-page {
                width: 100%;
                background-image: url(../../public/ifo-banner-light.png);
                background-position: center top, center center;
                background-size: auto 100%;
                background-repeat: no-repeat;
                padding: 2rem 1.5rem;
                min-height: 197px;
                color: var(--colors-text);

                .info-page-wrapper {
                    max-width: 1200px;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 1.5rem;

                    h1 {
                        font-size: 4rem;
                        line-height: 1.1;
                        max-width: 70vw;
                    }

                    .more-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        font-size: 0.8rem;
                        line-height: 1.5;
                        
                        a {
                            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                            font-size: 1rem;
                            display: inline-flex;
                            align-items: center;
                            font-weight: 600;
                            letter-spacing: 0.03rem;
                            background-color: var(--colors-textSubtle);
                            color: var(--colors-backgroundAlt);
                            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                            height: 3rem;
                            padding: 0 1.5rem;
                            border-radius: 16px;

                            &:hover {
                                opacity: 0.65;
                            }
                        }
                    }
                }
            }
        }
    }

    #ifo-main-section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "stake coming coming"
        "token . .";
        padding: 2.5rem 1.5rem;
        max-width: 1200px;
        margin: 0 auto;

        .stake {
            grid-area: stake;
            border-radius: 24px;
            border: 1px solid var(--colors-cardBorder);

            .box-header {
                background: var(--colors-gradientCardHeader);
                border-radius: 24px 24px 0 0;
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .main-headings {
                    h3 {
                        font-size: 1.5rem;
                        color: var(--colors-secondary);
                    }
                    p {
                        color: var(--colors-textSubtle);
                        line-height: 1.5;
                    }
                }

                .images {
                    position: relative;
                    max-width: 4rem;
                    max-height: 4rem;

                    .ps-img {
                        max-width: 100%;
                    }

                    .autorenew-img {
                        position: absolute;
                        width: 50%;
                        bottom: -0.5rem;
                        right: -0.5rem;
                    }
                }
            }

            .box-body {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                button {
                    border: 0;
                    background-color: transparent;
                    display: inline-flex;
                    align-items: center;
                }
                .calculators {
                    padding: 1.25rem;
                    border: 1px solid var(--colors-cardBorder);
                    background-color: var(--colors-background);
                    border-radius: 16px;

                    & > div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--colors-textSubtle);
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        font-weight: 600;

                        .numbers {
                            display: inline-flex;
                            gap: 0.2rem;
                            text-transform: initial;
                            font-size: 0.95rem;
                            color: var(--colors-text);
                            align-items: center;
                        }
                    }
                }

                .start {
                    p {
                        font-size: 0.85rem;
                        text-transform: uppercase;
                        color: var(--colors-textSubtle);
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                    }

                    button {
                        width: 100%;
                        background-color: var(--colors-primary);
                        box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                        height: 3rem;
                        padding: 0 1.5rem;
                        color: var(--colors-invertedContrast);
                        cursor: pointer;
                        border-radius: 16px;
                        font-size: 1rem;
                        font-weight: 600;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .box-footer {
                border-top: 1px solid var(--colors-cardBorder);
                padding: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .main-footer {
                    display: flex;
                    align-items: center;
                    p {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--colors-success);
                        font-size: 0.9rem;
                        border: 2px solid var(--colors-success);
                        height: 1.75rem;
                        border-radius: 16px;
                        padding: 0 0.5rem;
                    }
                }

                details {
                    font-weight: 600;
                    color: var(--colors-primary);
                    summary {
                        display: inline-flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 0.25rem;
                    }

                    &[open] {
                        summary {
                            img {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        
        .coming-soon {
            grid-area: coming;
            background: var(--colors-cardBorder);

            .box-header {
                background-image: url(../../public/ifo-coming-soon-desktop.png);
                border-bottom-left-radius: 100% 40px;
                border-bottom-right-radius: 100% 40px;
                height: 160px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .box-body {
                display: flex;
                align-items: center;
                padding: 1.5rem;
                gap: 32px;
                border-radius: 24px;
                
                & > div {
                    max-width: 368px;

                    h3 {
                        color: var(--colors-text);
                    }

                    p {
                        color: var(--colors-text);
                        font-weight: 600;
                    }
                }
                .public-sale {
                    .public-header {
                        background: var(--colors-gradientViolet);
                        border-radius: 24px 24px 0 0;
                        padding: 1rem 1.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .public-body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 1rem;
                        padding: 1.5rem 1.5rem 2rem 1.5rem;
                        border-radius: 0 0 24px 24px;
                        background: var(--colors-backgroundAlt);
                    }
                }
                .private-sale {
                    .private-header {
                        border-radius: 24px 24px 0 0;
                        padding: 1rem 1.5rem;
                        background: var(--colors-gradientBlue);
                    }
                    .private-body {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        gap: 1rem;
                        background: var(--colors-backgroundAlt);
                        padding: 1.5rem 1.5rem 2rem 1.5rem;
                        border-radius: 0 0 24px 24px;
                    }
                }
            }
        }

        .token-vesting {
            grid-area: token;

        }
    }

    #take-part {

    }

    #details {

    }
}