.part-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .part-1-container{
        padding: 48px 24px 48px 24px;
        max-width: 1200px;
        .swiper-container{
            
            .slide-1{
                display: none;
            }
            max-width: 1152px;
            padding: 20px;
            font-family: Kanit, sans-serif;
            color-scheme: dark;
            --vh: 7.14px;
            display: flex;
            flex-direction: column;
            margin: 0;
            overflow: visible;
            justify-content: center;
            align-items: center;
            
            swiper-body-1{
                display: none;
                .swiper-content{
                    p:first-child{
                        font-size: 40px;
                        padding-right: 0px;
                        margin-bottom: 5px;
                        margin-top: -10px;
                        font-family: Kanit;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 110%;
                        color: rgb(255, 255, 255);
                        text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
                    }
                    p:nth-child(2){
                        letter-spacing: 0.01em;
                        
                        text-shadow: rgba(0, 0, 0, 0.2) 1.27551px 1.27551px 1.02041px;
                        background: (166.02deg, rgb(255, 178, 55) -5.1%, rgb(255, 235, 55) 75.24%) text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke: 2px rgb(101, 50, 205);
                        font-family: Kanit;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 25px;
                        line-height: 98%;
                    }
                    .learn-more-button {
                        border-radius: 16px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
                        padding: 4px 8px;
                        margin-top: 10px;
                        position: relative;
                        -webkit-box-align: center;
                        align-items: center;
                        border: 0px;
                        cursor: pointer;
                        display: inline-flex;
                        font-family: inherit;
                        font-size: 16px;
                        font-weight: 600;
                        -webkit-box-pack: center;
                        justify-content: center;
                        letter-spacing: 0.03em;
                        line-height: 1;
                        opacity: 1;
                        outline: 0px;
                        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                        height: 48px;
                        background-color: var(--colors-primary);
                        color: var(--colors-invertedContrast);
                    }
                }
            }
            .swiper-body-2 {
                margin: auto;
                position:relative;
                width: 100%;
                min-height: 192px;
                max-height: 192px;
                display:flex;
                border-radius: 32px;
                color-scheme: dark;
                flex:1;
                
                
                padding: 24px;
                background: -webkit-linear-gradient(top, #7544d7, #462b7c);;
                justify-content: space-between;
                flex-grow:1;
                flex-shrink: 1;
                
                .swiper-content-left{
                    position: absolute;
                    z-index: 1;
                    h2:nth-child(1){
                        font-size: 24px;
                        
                        margin-bottom: 8px;
                        background: -webkit-linear-gradient(top, rgb(255, 216, 0), rgb(235, 140, 0));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 600;
                        line-height: 1.1;
                    }
                    h2:nth-child(2){
                        font-size: 40px;
                        min-height: auto;
                        margin-bottom: 16px;
                        color: rgb(255, 255, 255);
                        text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
                        text-transform: uppercase;
                        font-weight: 600;
                        line-height: 1.1;
                    }
                    a{
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        width: fit-content;
                        color: var(--colors-primary);
                        font-weight: 600;
                        line-height: 1.5;
                        font-size: 16px;
                        text-decoration: none;
                        -webkit-font-smoothing: antialiased;
                        box-sizing: border-box;
                        font: inherit;
                        color-scheme: light;
                        --vh: 7.14px;
                        
                        button{
                            position: relative;
                            -webkit-box-align: center;
                            align-items: center;
                            border: 0px;
                            border-radius: 16px;
                            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                            cursor: pointer;
                            display: inline-flex;
                            font-family: inherit;
                            font-size: 16px;
                            font-weight: 600;
                            -webkit-box-pack: center;
                            justify-content: center;
                            letter-spacing: 0.03em;
                            line-height: 1;
                            opacity: 1;
                            outline: 0px;
                            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                            height: 48px;
                            padding: 0px 24px;
                            background-color: var(--colors-primary);
                            color: var(--colors-invertedContrast);
                            -webkit-font-smoothing: antialiased;
                            appearance: auto;
                            writing-mode: horizontal-tb !important;
                            text-rendering: auto;
                            margin: 0em;
                            text-align: center;
                            text-indent: 0px;
                            text-shadow: none;
                            &:hover{
                                background-color: #3093bc;
                            }
                            svg{
                                align-self: center;
                                fill: var(--colors-invertedContrast);
                                color: var(--colors-invertedContrast);
                                flex-shrink: 0;
                            }
                        }
                    }
                }
                .swiper-content-right{
                    position: absolute;
                    right: 0px;
                    bottom:0px;
                    padding:0;
                    margin:0;
                    
                    span{
                        img:nth-child(1){
                          width:390px; 
                          display:block;
                        } 
                        img:nth-child(2){
                            width:205px;
                            display: none;
                        }
                    }
                }
            }
        }
        
        /* Hompage Hero */
        #homepage-hero{
            display:flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            #homepage-hero-left{
                order:0;
                .homepage-hero-left-text-1{
                    font-size: 64px;
                    font-weight: 750;
                    line-height: 1.1;
                    color: #7645d9;
                    margin-bottom: 24px;
                    font-family: Kanit, sans-serif;
                    display: block;
                    margin-block-start: 0.83em;
                    margin-block-end: 0.83em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    margin-top: 0;
                }
                .homepage-hero-left-text-2{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.1;
                    color: #280d5f;
                    margin-bottom: 24px;
                    margin-top: 0;
                    font-family: Kanit, sans-serif;
                }
                .homepage-hero-buttons{
                    display:flex;
                    #connect-wallet-button{
                        position: relative;
                        -webkit-box-align: center;
                        align-items: center;
                        border: 0px;
                        border-radius: 16px;
                        box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                        cursor: pointer;
                        display: inline-flex;
                        font-family: Kanit, sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        -webkit-box-pack: center;
                        justify-content: center;
                        letter-spacing: 0.03em;
                        line-height: 1;
                        opacity: 1;
                        outline: 0px;
                        transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                        height: 48px;
                        padding: 0px 24px;
                        background-color: var(--colors-primary);
                        color: var(--colors-invertedContrast);
                        margin-right: 8px;
                        &:hover{
                            background-color: #66d8e3;
                        }
                    }
                    #trade-now-button{
                        position: relative;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 16px;
                        cursor: pointer;
                        display: inline-flex;
                        font-family: Kanit, sans-serif;
                        font-size: 16px;
                        font-weight: 600;
                        -webkit-box-pack: center;
                        justify-content: center;
                        letter-spacing: 0.03em;
                        line-height: 1;
                        opacity: 1;
                        outline: 0px;
                        
                        transition: 0.2s ease 0s, opacity 0.2s ease 0s;
                        height: 48px;
                        padding: 0px 24px;
                        background-color: transparent;
                        border-width: 2px;
                        border-style: solid;
                        border-image: initial;
                        border-color: var(--colors-primary);
                        box-shadow: none;
                        color: var(--colors-primary);
                        &:hover{
                            border-color: #66d8e3;
                            color: #66d8e3;
                        }
                    }
                }
            }
            .homepage-hero-right{
                
                
                
                div{
                    display: grid;
                    .homepage-hero-right-moving-bunny-img{
                        grid-area: 1/1/1/1;
                        box-sizing: border-box;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: flex;
                        max-height: 100%;
                        max-width: 100%;
                        flex:1;
                        animation: 3.5s ease-in-out 0s infinite normal none running homepage-hero-animation;
                        @keyframes homepage-hero-animation {
                            0% {
                                transform: translate(0px, 0px);
                            }
                            50% {
                                transform: translate(-5px, -5px);
                            }
                            100% {
                                transform: translate(0px, 0px);
                            }                           
                        }
                    }
                    //star top right
                    img:nth-child(2){
                        grid-area: 1/1/1/1;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: flex;
                        max-height: 100%;
                        max-width: 100%;
                        flex:1;
                        -webkit-animation: fadeinout 4s linear forwards;
                        animation: fadeinout 3s linear forwards;
                        animation-iteration-count: infinite;
                        opacity: 0;
                        @-webkit-keyframes fadeinout {
                            50% { opacity: 1; }
                          }
                          
                          @keyframes fadeinout {
                            50% { opacity: 1; }
                          }
                    }
                    //star bot right
                    img:nth-child(3){
                        grid-area: 1/1/1/1;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: flex;
                        max-height: 100%;
                        max-width: 100%;
                        flex:1;
                        -webkit-animation: fadeinout 4s linear forwards;
                        animation: fadeinout 4s linear forwards;
                        animation-iteration-count: infinite;
                        opacity: 0;
                        @-webkit-keyframes fadeinout {
                            50% { opacity: 1; }
                        }
                          
                        @keyframes fadeinout {
                            50% { opacity: 1; }
                        }
                    }
                    //star bot left
                    img:nth-child(4){
                        grid-area: 1/1/1/1;
                        padding: 0px;
                        border: none;
                        margin: auto;
                        display: flex;
                        max-height: 100%;
                        max-width: 100%;
                        flex:1;
                        -webkit-animation: fadeinout 5s linear forwards;
                        animation: fadeinout 5s linear forwards;
                        animation-iteration-count: infinite;
                        opacity: 0;
                        @-webkit-keyframes fadeinout {
                            50% { opacity: 1; }
                        }
                        @keyframes fadeinout {
                            50% { opacity: 1; }
                        }
                    }
                }
            }
        }
    } 
}

// Media Queries

@media screen and (max-width: 968px) {
    .part-1{
        .part-1-container{
            .swiper-container{
                .swiper-body-2 {
                    .swiper-content-right{            
                        span{
                            img:nth-child(1){
                              display: none;
                            } 
                            img:nth-child(2){
                                display: block;
                            }
                        }
                    }
                }
            }
            #homepage-hero{
                #homepage-hero-left{
                    .homepage-hero-left-text-1{
                        font-size: 48px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 852px){
    .part-1{
        .part-1-container{
            #homepage-hero{
                display:flex;
                flex-direction: column-reverse;
                justify-content: start;
                flex-wrap: wrap;
                #homepage-hero-right{
                    .homepage-hero-right-moving-bunny-img {
        
                        justify-content: end;
                        height: 192px;
                        width: 192px;
                        animation: 2.5s ease-in-out 0s infinite normal none running homepage-hero-animation;
                    }
                    img:nth-child(2){
                        height: 192px;
                        width: 192px;
                    }
                    img:nth-child(3){
                        height: 192px;
                        width: 192px;
                    }
                    img:nth-child(4){
                        height: 192px;
                        width: 192px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px){
    .part-1{
        .part-1-container{
            .swiper-container{
                .swiper-body-2{
                    .swiper-content-left{
                        h2:nth-child(2){
                            font-size: 20px;
                            width: 160px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 370px){
}
