.logo-mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--colors-backgroundAlt);
  border-bottom: 1px solid var(--colors-light-cardBorder);
  padding-left: 16px;
  padding-right: 16px;
}

nav a {
  text-decoration: none;
}

.nav1 {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo a img {
  width: 160px;
}
@media screen and (max-width: 993px) {
  .nav-logo a .logo {
    display: none;
  }
}
.nav-logo a .logo-mobile {
  display: none;
}
@media screen and (max-width: 993px) {
  .nav-logo a .logo-mobile {
    display: block;
    width: 32px;
  }
}

.nav-menu {
  display: flex;
  margin-left: 24px;
}
@media screen and (max-width: 993px) {
  .nav-menu {
    display: none;
  }
}

.link {
  position: relative;
}

.link a {
  position: relative;
  display: flex;
  align-items: center;
  color: #b8add2;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  pointer-events: inherit;
  padding: 0px 16px;
  height: 48px;
}

.link a:hover {
  background: var(--colors-tertiary);
  border-radius: 16px;
}

.down-menu {
  position: absolute;
  background-color: var(--colors-backgroundAlt);
  border: 1px solid var(--colors-cardBorder);
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 0px;
  width: 280px;
  z-index: 10;
  visibility: hidden;
}

.down-menu a {
  align-items: center;
  border: 0px;
  background: transparent;
  color: #b8add2;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: space-between;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  pointer-events: inherit;
}

.down-menu a:hover {
  background: var(--colors-tertiary);
}

.down-menu a:hover:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.down-menu a:hover:last-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nav-trade:hover .down-menu {
  visibility: visible;
}

.nav-earn:hover .down-menu {
  visibility: visible;
}

.nav-win:hover .down-menu {
  visibility: visible;
}

.nav-nft:hover .down-menu {
  visibility: visible;
}

.nav-extra:hover .down-menu {
  visibility: visible;
}

.nav2 {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 993px) {
  .nav2 {
    margin-left: auto;
  }
}

.nav-currentprice {
  display: block;
  margin-right: 12px;
}
@media screen and (max-width: 576px) {
  .nav-currentprice {
    display: none;
  }
}

.nav-currentprice a {
  display: flex;
  align-items: center;
}

.nav-currentprice a img {
  transition: transform 0.3s ease 0s;
  flex-shrink: 0;
  margin-right: 8px;
}

.nav-currentprice a img:hover {
  transform: scale(1.2);
}

.text-currency {
  color: #b8add2;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}

.nav-language {
  margin-top: 4px;
}

.nav-lang {
  position: relative;
}

.nav-lang button {
  background: transparent;
  border: none;
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 20px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: transparent;
  color: #1fc7d4;
  vertical-align: sub;
  box-shadow: none;
}

.nav-lang button img {
  margin-right: 0.5rem;
}

.nav-lang button:hover {
  opacity: 0.65;
}

.lang-down-menu {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: auto;
  background-color: #27262c;
  box-shadow: 0px 2px 12px -8px rgba(25, 19, 38, 0.1), 0px 1px 1px rgba(25, 19, 38, 0.05);
  padding: 16px;
  max-height: 200px;
  overflow: auto;
  z-index: 10;
  border-radius: 4px;
  opacity: 0;
  transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
  will-change: opacity;
}

.lang-down-menu button {
  position: relative;
  align-items: center;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  background-color: transparent;
  box-shadow: none;
  color: #f4eeff;
  padding: 0px 8px;
  border-radius: 8px;
  min-height: 32px;
  height: auto;
}

.lang-down-menu::-webkit-scrollbar-thumb {
  background: #b8add2;
  border-radius: 8px;
}

.lang-down-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #372f47;
  border-radius: 10px;
}

.lang-down-menu::-webkit-scrollbar {
  width: 8px;
}

.lang-select-btn:hover .lang-down-menu {
  visibility: visible;
  opacity: 1;
  max-height: 200px;
}

.nav-settings {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-settings button {
  background: transparent;
  border: none;
  padding: 0px;
  width: 32px;
  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: transparent;
  color: #1fc7d4;
  box-shadow: none;
  margin-right: 8px;
}

.nav-settings button:hover {
  opacity: 0.65;
}

.nav-network {
  height: 100%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  position: relative;
}

.network-select-link {
  align-items: center;
  background-color: var(--colors-tertiary);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  padding-left: 32px;
  padding-right: 8px;
  position: relative;
}

.link-img {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: 102;
}

.link-img img {
  max-height: 32px;
  max-width: 32px;
  width: 100%;
}

.link-text {
  color: var(--colors-text);
  font-weight: 600;
  display: none;
}

@media screen and (min-width: 576px) {
  .link-text {
    display: block;
    margin-left: 8px;
    margin-right: 4px;
  }
}
.network-select-content {
  background-color: var(--colors-backgroundAlt);
  border: 1px solid var(--colors-cardBorder);
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 280px;
  z-index: 1001;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  transform: translate(-10px, 196px);
}
@media screen and (max-width: 576px) {
  .network-select-content {
    transform: translate(-110px, 196px);
  }
}

.network-select-text {
  padding: 8px 16px;
}

.select-network-txt {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.network-select-content button {
  align-items: center;
  border: 0px;
  background: transparent;
  color: #b8add2;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  -webkit-box-pack: justify;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.network-select-content button img {
  color: transparent;
  max-height: 24px;
  height: auto;
  max-width: 100%;
}

.network-select-content button .btn-text {
  font-weight: 600;
  line-height: 1.5;
  padding-left: 12px;
  font-size: 16px;
}

.network-select-content button.active .btn-text {
  color: #9a6aff;
}

.network-select-content button:hover {
  background-color: var(--colors-tertiary);
}

.network-select-content button:hover:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.network-select-content button:hover:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-network:hover .network-select-content {
  visibility: visible;
}

.nav-connect {
  position: relative;
  align-items: center;
  border: 0px none;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: var(--colors-primary);
  color: var(--colors-invertedContrast);
}
@media screen and (max-width: 993px) {
  .nav-connect .connect-btn {
    display: none;
  }
}
.nav-connect .connect-btn-mobile {
  display: none;
}
@media screen and (max-width: 993px) {
  .nav-connect .connect-btn-mobile {
    display: block;
  }
}

.nav-connect:hover {
  opacity: 0.65;
}

.connect-btn-mobile {
  display: none;
}/*# sourceMappingURL=navbar.css.map */